/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* CSS Variable */
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraph */
    --very-light-gray: hsl(0, 0%, 95%); /* bg, heading, buttons*/

}
/* CSS Rule */
/* Box sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}
/* Removing margin and padding */
html,
body,
h1, h2, h3, h4 , h5, h6,
p,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}
/* Removing a outline on form element */
input,
textarea,
select,
button 
{
    outline: none;
    font: inherit;
}
/* Set core rule */
html:focus-within {
    scroll-behavior: smooth;
}
/* Set body rule */
body {
    line-height: 1.5;
    font-size: 15px;
    text-rendering: optimizeSpeed;
    height: 100vh;
}
/* Removing default list style */
ul[role="list"],
ol[role="list"],
ul,
ol {
    list-style-type: none;
}
/* Set img/picture rule */
img,
picture {
    max-width: 100%;
    display: block;
}
/* Removing animation for who prefer */
@media(prefers-reduce-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}
/* End of css reset */
body {
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--very-light-gray);
}
.container {
    width: max(46%, 46rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
section {
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    flex-basis: 100%;
}
section > img { 
    width: 70px;
    height: 45px;
}
section > h1 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
section > p {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}
section > button {
    margin-top: 2.5rem;
    padding: .8rem;
    border: 2px solid transparent;
    width: 70%;
    border-radius: 40px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
}
section > button:hover {
    background-color: transparent;
    border: 2px solid var(--transparent-white);
    color: var(--transparent-white)
}
.sedans {
    background-color: var(--bright-orange);
    border-radius: 15px 0 0 15px;
}
.suvs {
    background-color: var(--dark-cyan);
}
.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 15px 15px 0;
}
.orange {
    color: var(--bright-orange)
}
.cyan {
    color: var(--dark-cyan);
}
.dark-cyan {
    color: var(--very-dark-cyan);
}
@media screen and (max-width: 414px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .container {
        flex-direction: column;
    }
    section {
        padding: 4rem 5rem 5rem 3rem;
    }
    section > button {
        width: 55%;
    }
    .sedans {
        border-radius: 15px 15px 0 0;
    }
    .luxury {
        border-radius: 0 0 15px 15px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        width: 736px;
    }
}
